* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

/* Buttons */

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: hsl(211, 100%, 50%);
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: hsl(211, 100%, 55%);
}

button:active {
  background-color: hsl(211, 100%, 60%);
}

/* Cards */

.card {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.post-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* Search */

.search {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
}

/* Post Detail */

.pd {
  padding: 20px;
}

.pd p {
  margin-bottom: 50px;
  font-size: 1.5rem;
}

.pd-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.pd-btn button {
  font-size: 1rem;
}

/* Loader */

.loader {
  width: 50px;
  height: 50px;
  margin: 40px auto;
  border: 7px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Post Form */

.label {
  align-self: flex-start;
}

.title,
.text-area {
  border: 1px solid #333;
  border-radius: 5px;
  outline: none;
}

.title {
  width: 240px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.text-area {
  width: 240px;
  min-height: 120px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 10px;
  resize: vertical;
}

/* Form Buttons */

.submit-btn {
  width: 140px;
  padding: 10px;
  font-size: 1.3rem;
}

.update-btn {
  width: 240px;
  padding: 15px;
  font-size: 1rem;
}

/* Edit Button */

.edit-btn {
  background-color: hsl(45, 100%, 51%);
}

.edit-btn:hover {
  background-color: hsl(45, 100%, 55%);
}

.edit-btn:active {
  background-color: hsl(45, 100%, 60%);
}

/* Delete Button */

.del-btn {
  background-color: hsl(354, 70%, 54%);
}

.del-btn:hover {
  background-color: hsl(354, 70%, 60%);
}

.del-btn:active {
  background-color: hsl(354, 70%, 65%);
}

/* Create Button */

.crt-btn {
  margin-right: 10px;
}

/* Error Message */

.error-message {
  padding: 10px 15px;
  border: 1px solid #dc3545;
  border-radius: 5px;
  color: #dc3545;
  background-color: #f8d7da;
  font-size: 1rem;
  font-weight: bold;
}
